.feed {
  flex: 0.5;
  border-right: 1px solid var(--twitter-bg);
  /*min-width: fit-content; */ /*No matter what the dimensions of the post are, fit it to the content*/
  overflow-y: scroll;
}

/*HIdes the scrolllbar in CHrome, Safari, Opera*/
.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none; /*IE, Edge*/
  scrollbar-width: none; /*Firefox*/
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-bg);
  padding: 15px 20px; /*15 pixels top and bottom & 20px right & left*/
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;
}
