.tweetbox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-bg);
  padding-right: 10px;
}

.tweetbox > form {
  display: flex;
  flex-direction: column;
}

.tweetbox_input {
  display: flex;
  padding: 20px;
}

.tweetbox_input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweetboxbutton {
  background-color: var(
    --twitter-color
  ) !important; /*Important overrides all the previous styling of the MaterialUI*/
  color: #fff !important;
  border: none !important;
  font-weight: 900 !important;
  text-transform: inherit !important; /*To avoid the capitalization and get the properties from the parent tag*/
  border-radius: 30px !important;
  height: 40px !important;
  margin-top: 20px !important;
  width: 80px;
  margin-left: auto !important;
}
/*
.tweetbox > tweetbox_input > profile_box {
  size: 150px;
}
*/
.TweetOptions {
  display: flex;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 300px;
}
.TweetOptions > div {
  padding: 5px;
  color: var(--twitter-color);
  size: 5px;
}
.tweetbox_input_image {
  border: none;
  padding: 21px;
}
